name: CN_HomeAssistant
services:
 HomeAssistant:
  # --------------------------------------------------- #
  image: homeassistant/home-assistant:stable
  container_name: Homeassistant
  network_mode: bridge
  restart: unless-stopped
  hostname: 'HA'
  # --------------------------------------------------- #
  privileged: false
  cap_add: []
  command: []
  cpu_shares: 10
  # --------------------------------------------------- #
  deploy:
   resources:
    limits:
      memory: 12412477440
    reservations:
      devices: []
  # --------------------------------------------------- #
  environment:
    - TZ=Europe/Paris
  # --------------------------------------------------- #
  devices:
    - /dev/ttyUSB0:/dev/ttyUSB0
  # --------------------------------------------------- #
  ports:
   - target: 8123
     published: "8123"
     protocol: tcp
  # --------------------------------------------------- #
  volumes:
   - type: bind
     source: /media/ZimaOS-HD/AppData/Docker/HomeAssistant/config
     target: /config
   - type: bind
     source: /etc/localtime
     target: /etc/localtime:ro
   - type: bind
     source: /run/dbus
     target: /run/dbus:ro
  # --------------------------------------------------- #
  labels:
   icon: https://icon.casaos.io/main/all/home-assistant.png



    
x-casaos:
  author: self
  category: self
  hostname: ""
  icon: https://icon.casaos.io/main/all/home-assistant.png
  index: /
  is_uncontrolled: false
  port_map: "8123"
  scheme: http
  store_app_id: heuristic_fredrik
  title:
    custom: HomeAssistant
