######################################################################################################
# Matériel #
############
# - Machine   : Asus vm65N + 256Go + 12Go + ZimaOS
# - Micro     : Interne au PC
# - Bluetooth : Enceinte
# - Zigbee    : Sonoff ZBDongle-E
# - Téléphone : Google Pixel 8A (Micro + Enceinte)
# 
# Zigbee:
#  - Lumière : Connect.2 Eglo
# 
# Object: HomeAssistant + ollama +  Whisper + Piper 
# 
######################################################################################################
# Information #
###############
# 
# ls -la /dev/ttyUSB0
# crw-rw---- 1 root dialout 188, 0 Jan  8 18:45 ttyUSB0
# 
# grep dialout /etc/group
# dialout:x:18:
#  Gaillard, 74240 10 allée des cyclamens
# 
######################################################################################################
# Configuration HA #
####################
# Etape 1: Profil > Mode avancé
# Etape 2: Zigbee Home Automation
# Paramètres > Appareils et services > Ajouter une intégration
# Zigbee Home Automation > Installer > Conserver les paramètres réseau de la radio.

######################################################################################################
# Docker-Compose #
#################
name: CN_HomeAssistant
services:
 HomeAssistant:
#####################################################################
  # --------------------------------------------------------------- #
  image: 'homeassistant/home-assistant:stable'                      #
  container_name: 'Homeassistant'                                   #
  network_mode: 'host'                                              #
  restart: 'unless-stopped'                                         #
  hostname: 'HA'                                                    #
  # --------------------------------------------------------------- #
  privileged: 'false'                                               #
  user: '18:18'                                                     # 
  group_add:                                                        #
   - '18'                                                           # dailout
  cap_add:                                                          #
   - 'SYS_ADMIN'                                                    #
   - 'DAC_READ_SEARCH'                                              #
  command: []                                                       #
  cpu_shares: '10'                                                  #
  # --------------------------------------------------------------- #
  deploy:                                                           #
   resources:                                                       #
    limits:                                                         #
      memory: '12412477440'                                         #
    reservations:                                                   #
      devices: []                                                   #
  # --------------------------------------------------------------- #
  environment:                                                      #
    - TZ: 'Europe/Paris'                                            #
  # --------------------------------------------------------------- #
  devices:                                                          #
    - '/dev/ttyUSB0:/dev/ttyUSB0'                                   #
  # --------------------------------------------------------------- #
  volumes:                                                          #
   # -------------------------------------------------------------- #
   - type: bind                                                     #
     source: '/media/ZimaOS-HD/AppData/Docker/HomeAssistant/config' #
     target: '/config'                                              #
   # -------------------------------------------------------------- #
   - type: bind                                                     #
     source: '/etc/localtime'                                       #
     target: '/etc/localtime:ro'                                    #
   # -------------------------------------------------------------- #
   - type: bind                                                     #
     source: '/run/dbus'                                            #
     target: '/run/dbus:ro'                                         #
   # -------------------------------------------------------------- #
   - type: bind                                                     #
     source: '/run/udev'                                            #
     target: '/run/udev:ro'                                         #
  # --------------------------------------------------------------- #
  #ports:                                                           #
  # - target: '8123'                                                #
  #   published: '8123'                                             #
  #   protocol: 'tcp'                                               #
  # --------------------------------------------------------------- #
  labels:                                                           #
   icon: 'https://icon.casaos.io/main/all/home-assistant.png'       #
#####################################################################
#
#####################################################################    
x-casaos:
  author: 'self'
  category: 'self'
  hostname: ''
  icon: 'https://icon.casaos.io/main/all/home-assistant.png'
  index: '/'
  is_uncontrolled: false
  port_map: '8123'
  scheme: 'http'
  store_app_id: 'CN_HomeAssistant'
  title:
    custom: 'HomeAssistant'
#####################################################################

