name: CN_HomeAssistant
services:
 HomeAssistant:
#####################################################################
  image: 'homeassistant/home-assistant:stable'                      #
  container_name: 'Homeassistant'                                   #
  restart: 'unless-stopped'                                         #
  # --------------------------------------------------------------- #
  network_mode: 'host'                                              #
  hostname: 'HA'                                                    #
  # --------------------------------------------------------------- #
  privileged: 'false'                                               #
  # --------------------------------------------------------------- #
  cap_add:                                                          #
   - 'NET_ADMIN'                                                    #
   - 'NET_RAW'                                                      #
   - 'SYS_RAWIO'                                                    #
  environment:                                                      #
    TZ: 'Europe/Paris'                                              #
  # --------------------------------------------------------------- #
  devices:                                                          #
    - '/dev/ttyUSB0:/dev/ttyUSB0'                                   #
  # --------------------------------------------------------------- #
  volumes:                                                          #
   # -------------------------------------------------------------- #
   - type: bind                                                     #
     source: '/media/ZimaOS-HD/AppData/Docker/HomeAssistant'        #
     target: '/config'                                              #
   # -------------------------------------------------------------- #
   - type: bind                                                     #
     source: '/etc/localtime'                                       #
     target: '/etc/localtime:ro'                                    #
   # -------------------------------------------------------------- #
   - type: bind                                                     #
     source: '/run/dbus'                                            #
     target: '/run/dbus:ro'                                         #
   # -------------------------------------------------------------- #
   - type: bind                                                     #
     source: '/run/udev'                                            #
     target: '/run/udev:ro'                                         #
   # -------------------------------------------------------------- #
  labels:                                                           #
   icon: 'https://icon.casaos.io/main/all/home-assistant.png'       #
#####################################################################
#
#####################################################################    
x-casaos:
  author: 'self'
  category: 'self'
  hostname: ''
  icon: 'https://icon.casaos.io/main/all/home-assistant.png'
  index: '/'
  is_uncontrolled: false
  port_map: '8123'
  scheme: 'http'
  store_app_id: 'CN_HomeAssistant'
  title:
    custom: 'HomeAssistant'
#####################################################################
